<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.paybeam.www.paybeamv1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PayBeam.SplashPage.SplashScreenActivity"
            android:label="PayBeamV1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PayBeam.LoginActivity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.CreateAccountActivity.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.HomeActivity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.CardManagementActivity.CardActivity.CardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.PaymentPhoneActivity.PaymentPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.PaymentReaderActivity.PaymentReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.TransactionActivity.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.SettingsActivity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.SettingsActivity.ChangePasswordActivity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.AboutActivity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.CardManagementActivity.AddCardActivity.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PayBeam.ProfileActivity.EditProfileActivity.EditProfileActivity" />
        <activity android:name=".PayBeam.ProfileActivity.ProfileActivity" />
        <activity android:name=".PayBeam.QRActivity.GenerateQRActivity.GenerateQRActivity" />
        <activity android:name=".PayBeam.QRActivity.ScanQRActivity.ScanQRActivity"></activity>
    </application>

</manifest>