<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.paybeam.www.paybeamv1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PayBeam.LoginActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PayBeam.CreateAccountActivity.CreateAccountActivity" />
        <activity android:name=".PayBeam.OTPActivity.OtpActivity" />
        <activity android:name=".PayBeam.HomeActivity.HomeActivity" />
        <activity android:name=".PayBeam.CardManagementActivity.CardActivity" />
        <activity android:name=".PayBeam.PaymentPhoneActivity.PaymentPhoneActivity" />
        <activity android:name=".PayBeam.PaymentReaderActivity.PaymentReaderActivity" />
        <activity android:name=".PayBeam.TransactionActivity.TransactionActivity" />
        <activity android:name=".PayBeam.SettingsActivity.SettingsActivity" />
        <activity android:name=".PayBeam.SettingsActivity.EditProfileActivity.EditProfileActivity" />
        <activity android:name=".PayBeam.SettingsActivity.ChangePasswordActivity.ChangePasswordActivity" />
        <activity android:name=".PayBeam.AboutActivity.AboutActivity"></activity>
    </application>

</manifest>