<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.paybeam.www.paybeamv1">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appIcon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PayBeam.SplashPage.SplashScreenActivity"
            android:label="PayBeamV1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PayBeam.LoginActivity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.CreateAccountActivity.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.HomeActivity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.CardManagementActivity.CardActivity.CardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.PaymentPhoneActivity.PaymentPhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PayBeam.PaymentReaderActivity.PaymentReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.TransactionActivity.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.SettingsActivity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.ProfileActivity.ChangePasswordActivity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.AboutActivity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.CardManagementActivity.AddCardActivity.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.ProfileActivity.EditProfileActivity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.ProfileActivity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.QRActivity.QRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.QRActivity.GenerateQRActivity.GenerateQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.QRActivity.ScanQRActivity.ScanQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.WalletActivity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.WalletActivity.TopUpWalletActivity.TopUpWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayBeam.WalletActivity.WithdrawWalletActivity.WithdrawWalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PayBeam.CardManagementActivity.CardViewActivity.CardViewActivity"
            android:screenOrientation="portrait"></activity>
        <!-- BEGIN_INCLUDE(CardEmulationManifest) -->
        <!-- Service for handling communication with NFC terminal. -->
        <service android:name=".PayBeam.NFCReaderModule.CardService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <!-- Intent filter indicating that we support card emulation. -->
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Required XML configuration file, listing the AIDs that we are emulating cards
                 for. This defines what protocols our card emulation service supports. -->
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/aid_list"/>
        </service>
        <!-- END_INCLUDE(CardEmulationManifest) -->
    </application>

</manifest>